<div class="feature-wrapper">
    <div class="feature-entry">
        <span>{% include icon-lightning.svg %}</span>
        <span>DodgeChrome manipulate a packet on the borwser level - It must be the fastest</span>
    </div>
    <div class="feature-entry">
        <span>{% include icon-lock.svg %}</span>
        <span>DodgeChrome never collect or save privacy data. It comes along with the lastest chromium security patch.</span>
    </div>
    <div class="feature-entry">
        <span>{% include icon-okay.svg %}</span>
        <span>DodgeChrome bypass almost all block mechanism: sni blocking, dns pollution, dpi, HTTP blocking, HTTPS blocking, etc.</span>
    </div>
</div>
